@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: 'db-heaventcond', sans-serif;
} */

@font-face {
  font-family: 'db-heaventbold-cond-it';
  src: url('src/assets/fonts/db_heavent/db_heavent_bd_cond_it_v3.2.1-webfont.woff2') format('woff2'),
       url('src/assets/fonts/db_heavent/db_heavent_bd_cond_it_v3.2.1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db-heaventbold-cond';
  src: url('src/assets/fonts/db_heavent/db_heavent_bd_cond_v3.2.1-webfont.woff2') format('woff2'),
       url('src/assets/fonts/db_heavent/db_heavent_bd_cond_v3.2.1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db-heaventcond';
  src: url('src/assets/fonts/db_heavent/db_heavent_cond_v3.2.1-webfont.woff2') format('woff2'),
       url('src/assets/fonts/db_heavent/db_heavent_cond_v3.2.1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
